html {
  font-size: 62.5%;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: " Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}
table th {
  color: #758094;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  padding: 3rem 2rem;
  text-align: center;
}
table thead tr {
  border-bottom: #dfdee3 2px solid;
}
table td {
  padding: 3rem 2rem;
  text-align: center;
}

.checkbox-cliente {
  display: none;
}
.checkbox-cliente:checked + .checkbox-cliente__label {
  background-color: #1b3484;
}
.checkbox-cliente:checked + .checkbox-cliente__label::before {
  background-color: #00baff;
  transform: translate(4rem, -50%);
}
.checkbox-cliente__label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 0.8rem;
  background-color: #e8e8e8;
  border-radius: 1rem;
  transition: all 0.2s linear;
}
.checkbox-cliente__label::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-color: #c0c0c0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.2s linear;
}
.checkbox-activo {
  display: none;
}
.checkbox-activo:checked + .checkbox-activo__label {
  background-color: #1b3484;
}
.checkbox-activo:checked + .checkbox-activo__label::before {
  background-color: #00baff;
  transform: translate(4rem, -50%);
}
.checkbox-activo__label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 0.8rem;
  background-color: #e8e8e8;
  border-radius: 1rem;
  transition: all 0.2s linear;
}
.checkbox-activo__label::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-color: #c0c0c0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.2s linear;
}
.checkbox-thead {
  display: none;
}
.checkbox-thead:checked + .checkbox-thead__label {
  background-color: #5178f5;
}
.checkbox-thead:checked + .checkbox-thead__label::before {
  opacity: 1;
}
.checkbox-thead__label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #e8e8e8;
  border-radius: 3px;
  transition: all 0.1s linear;
  transform: translateY(15%);
}
.checkbox-thead__label::before {
  content: "";
  width: 6px;
  height: 1.4rem;
  position: absolute;
  border-right: #fff 2px solid;
  border-bottom: #fff 2px solid;
  bottom: 5px;
  left: 6px;
  transform: rotate(45deg);
  transition: all 0.1s linear;
  opacity: 0;
}
.checkbox-tbody {
  display: none;
}
.checkbox-tbody:checked + .checkbox-tbody__label {
  background-color: #5178f5;
}
.checkbox-tbody:checked + .checkbox-tbody__label::before {
  opacity: 1;
}
.checkbox-tbody__label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #e8e8e8;
  border-radius: 3px;
  transition: all 0.1s linear;
  transform: translateY(15%);
}
.checkbox-tbody__label::before {
  content: "";
  width: 6px;
  height: 1.4rem;
  position: absolute;
  border-right: #fff 2px solid;
  border-bottom: #fff 2px solid;
  bottom: 5px;
  left: 6px;
  transform: rotate(45deg);
  transition: all 0.1s linear;
  opacity: 0;
}

.action-icon {
  cursor: pointer;
}
.action-icon:not(:first-of-type) {
  padding-left: 2rem;
}

.estado {
  background-color: rgba(37, 101, 51, 0.2);
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: #256533;
  font-weight: bold;
  white-space: nowrap;
}

.desc {
  white-space: nowrap;
  max-width: 18rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1280px) {
  .table {
    width: 100%;
    overflow-x: auto;
  }
  .table::-webkit-scrollbar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
