$background: linear-gradient(to right bottom, #fefefe, #bbc5de);
$primary-color: #e2575a;
html {
  font-size: 62.5%;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: " Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
}
textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #fff;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin positionCenter($direction: "both") {
  position: absolute;
  @if $direction == "top" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "left" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
body {
  background-color: #151515;
}
.circle {
  @include size(7rem);
  margin: 10rem auto;
  position: relative;
}
.box {
  top: 0;
  left: 0;
  @include size(100%);
  transform: rotate(calc(var(--value) * 45deg));
  position: absolute;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include size(1rem);
    border-radius: 50%;
    border: 4px #fff solid;
    animation: spin 2s linear infinite;
    animation-delay: calc(var(--value) * 0.25s);
  }
}
@keyframes spin {
  to {
    transform: scale(0);
  }
  from {
    transform: scale(2);
  }
}
