$primary-color: linear-gradient(to right, #fd5672, #fe9b84);
html {
  font-size: 62.5%;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: " Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
}
textarea {
  resize: none;
}

a {
  text-decoration: none;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin positionCenter($direction: "both") {
  position: absolute;
  @if $direction == "top" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "left" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0s linear;
}
.input {
  &__checkbox {
    display: none;
    &:checked + .checkbox-label {
      background-color: rgb(8, 93, 250);
      .checkbox-label__spin {
        transform: translateX(5rem);
      }
    }
  }
}
.checkbox {
  &-label {
    cursor: pointer;
    @include size(10rem, 5rem);
    background-color: #ccc;
    transition: all 0.125s linear;

    border-radius: 3rem;
    padding: 5px;
    &__spin {
      @include size(4rem);
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.125s linear;
    }
  }
}
