html {
  font-size: 62.5%;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: " Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09062f;
}

.slider {
  border: 3px solid rgb(250, 250, 250);
  box-shadow: 0 0 20px 6px rgb(6, 254, 250);
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-list {
  width: 400%;
  height: 100%;
  display: flex;
}
.input-radio {
  display: none;
}
.slide {
  width: 800px;
  transition: all 1.25s linear;
}
.navigation-manual {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}
.manual-btn {
  border: 3px #fff solid;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.manual-btn:hover {
  background-color: #40d3dc;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.navigation-auto {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}
.auto-btn1,
.auto-btn2,
.auto-btn3,
.auto-btn4 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}
